<?xml version="1.0"?>
<robot name="ur5_robotiq_ft_3f" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ur5_description)/urdf/ur5_joint_limited_robot.urdf.xacro" />
  <!-- <xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro" /> -->
  <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated_fixed.urdf"/>
  <!-- <xacro:robotiq-3f-gripper_articulated prefix=""/> -->
  
  <xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro" />

  <xacro:robotiq_ft300 parent="tool0" prefix="">
      <origin xyz="0 0 0" rpy="0 0 0"/> 
  </xacro:robotiq_ft300>
  
  <joint name="gripper_tool0_joint" type="fixed">
    <origin xyz="0 0 0.0535" rpy="${-pi/2.0} ${-pi} ${-pi/4.0}" />
    <parent link="ft300_sensor"/>
    <child link="palm"/>
  </joint>

  <!-- Load gazebo_ros_control -->
  <xacro:include filename="$(find ur5_description)/urdf/common.gazebo.xacro" />

</robot>
